<section class="bestsellers">
  <div class="container bestsellers-box">
    <h2 class="title-bestsellers">BESTSELLERS</h2>

    <ul class="list-bestsellers">
      <li class="item-bestsellers">
        <img src="./img/sellers-bed.webp" alt="" class="photo-one" />
        <p class="text-bestsellers">The modern platform bed</p>
        <p class="price-bestsellers">750$</p>
      </li>
      <li class="item-bestsellers">
        <ul class="sublist-bestsellers">
          <li class="subitem-bestsellers">
            <img
              src="./img/sellers-armchair.webp"
              alt=""
              class="photo-bestsellers"
            />
            <p class="text-bestsellers">The Cozy Lounge Chair</p>
            <p class="price-bestsellers">230$</p>
          </li>
          <li class="subitem-bestsellers">
            <img
              src="./img/sellers-chair.png"
              alt=""
              class="photo-bestsellers"
            />
            <p class="text-bestsellers">The industrial accent chair</p>
            <p class="price-bestsellers">250$</p>
          </li>
          <li class="subitem-bestsellers">
            <img
              src="./img/sellers-sofa.webp"
              alt=""
              class="photo-bestsellers"
            />
            <p class="text-bestsellers">The sleek stand</p>
            <p class="price-bestsellers">300$</p>
          </li>
          <li class="subitem-bestsellers">
            <img
              src="./img/sellers-table.webp"
              alt=""
              class="photo-bestsellers"
            />
            <p class="text-bestsellers">The minimalist sofa</p>
            <p class="price-bestsellers">650$</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
