<section>
    <h2 class="title-bestsellers">
        BESTSELLERS
    </h2>

    <ul class="ul-bestsellers">
        <li class="list-bestsellers">
            <img src="../img/sellers-bed.webp" alt="" class="photo-bestsellers">
            <p>The modern platform bed</p>
            <p>750$</p>
            
        </li>
        <li class="list-bestsellers">
            <img src="../img/sellers-armchair.webp" alt="" class="photo-bestsellers">
            <p>The Cozy Lounge Chair</p>
            <p>230$</p>
            
            <img src="../img/sellers-chair.png" alt="" class="photo-bestsellers">
            <p>The industrial accent chair</p>
            <p>250$</p>
            
            <img src="../img/sellers-sofa.webp" alt="" class="photo-bestsellers">
            <p>The sleek stand</p>
            <p>300$</p>
            
            <img src="../img/sellers-table.webp" alt="" class="photo-bestsellers">
            <p>The minimalist sofa</p>
            <p>650$</p>
        
        </li>
    </ul>
</section>