<section class="footer">
    <ul class="ul-footer">
        <li >
          <img src="../img/logo (1).png" alt="">
        </li>

    <li>
        <p class="p-footer">About us</p>
    </li>
    <li>
        <p class="p-footer">Our products</p>
    </li>
    <li>
        <p class="p-footer">Prices</p>
    </li>
    <li>
        <p class="p-footer">Bestsellers</p>
    </li>
    <li>
        <p class="p-footer">Reviews</p>
    </li>
    <li>
        <img src="../img/sots-cite.webp" alt="sots-cite">    
    </li>
  </ul>

  <ul class="ul2-footer">
    <li class="li2-footer">
        <p class="p-footer">Obolonsky Prospect, 14, Kyiv</p>
    </li>
    <li class="li2-footer">
        <span><a class="p-footer" href="tel: + 380669384758">+380669384758</a></span>
    </li>
    <li class="li2-footer">
        <address class="p-footer" id="minimal.furniture@gmail.com">minimal.furniture@gmail.com</address>
    </li>
  </ul>

  <ul class="ul2-footer">
    <li class="li3-footer">
        <p class="p-footer">Daily 10:00-21:00</p>
    </li>
    <li class="li3-footer">
        <span><a class="p-footer" href="tel: + 380669384758">+380669384758</a></span>
    </li>
  </ul>

  <p class="end-footer">By using this website, you agree to the Terms of Service and Privacy Policy</p>
</section>