<section class="footer">
    <div class="container">
        <ul class="list-footer">
            <li >
              <img class="img-footer" src="../img/logo (1).png" alt="">
            </li>

        <li class="item-footer">
            <p class="text-footer">About us</p>
            <p class="text-footer">Our products</p>
            <p class="text-footer">Prices</p>
            <p class="text-footer">Bestsellers</p>
            <p class="text-footer">Reviews</p>
        </li>
        <li class="item-footer">
            <img src="../img/sots-cite.webp" alt="sots-cite">    
        </li>
      </ul>

      <ul class="list2-footer">
        <li class="item-footer">
            <p class="text-footer">Obolonsky Prospect, 14, Kyiv</p>
        </li>
        <li class="item-footer">
            <span><a class="text-footer" href="tel: + 380669384758">+380669384758</a></span>
        </li>
        <li class="item-footer">
            <address class="text-footer" id="minimal.furniture@gmail.com">minimal.furniture@gmail.com</address>
        </li>
      </ul>

      <ul class="list3-footer">
        <li class="item3-footer">
            <p class="text-footer">Daily 10:00-21:00</p>
        </li>
        <li class="item3-footer">
            <span><a class="text-footer" href="tel: + 380669384758">+380669384758</a></span>
        </li>
      </ul>

      <p class="end-footer">By using this website, you agree to the Terms of Service and Privacy Policy</p>
    </div>
</section>