<section id="price" class="price">
  <div class="container">
    <ul class="price-list">
      <li class="price-item">
        <p class="price-text">Chairs</p>
        <p class="price-money"><b>from 200₴</b></p>
      </li>
      <li class="price-item">
        <p class="price-text">Tables</p>
        <p class="price-money"><b>from 250₴</b></p>
      </li>
      <li class="price-item">
        <p class="price-text">Dressers</p>
        <p class="price-money"><b>from 300₴</b></p>
      </li>
      <li class="price-item">
        <p class="price-text">Sofas</p>
        <p class="price-money"><b>from 500₴</b></p>
      </li>
    </ul>
  </div>
</section>
