<section class="price">
  <ul class="price-list">
    <li class="price-item">
      <h3 class="price-text">Chairs</h3>
      <p class="price-money">from 200₴</p>
    </li>
    <li class="price-item">
      <h3 class="price-text">Tables</h3>
      <p class="price-money">from 250₴</p>
    </li>
    <li class="price-item">
      <h3 class="price-text">Dressers</h3>
      <p class="price-money">from 300₴</p>
    </li>
    <li class="price-item">
      <h3 class="price-text">Sofas</h3>
      <p class="price-money">from 500₴</p>
    </li>
  </ul>
</section>
