<section>
  <div class="container">
    <h2 class="title-product">OUR PRODUCT</h2>
    <ul class="ul-product">
      <li class="li-product">
        <img src="../img/product 5.webp" alt="" class="photo-product" />
        <p class="text-product">Minimalist storage solutions</p>
      </li>
      <li class="li-product">
        <img src="../img/product 6.webp" alt="" class="photo-product" />
        <p class="text-product">Handcrafted minimalist seating</p>
      </li>
      <li class="li-product">
        <img src="../img/product 7.webp" alt="" class="photo-product" />
        <p class="text-product">Sleek and simple tables</p>
      </li>
      <li class="li-product">
        <img src="../img/product 8.webp" alt="" class="photo-product" />
        <p class="text-product">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
