<section>
  <div class="container">
    <ul class="reg">
      <li>
        <h2>Newsletter</h2>
        <p>
          Every week we will send you new designs and information about sales.
        </p>
        <form>
          <input type="text" class="acount" placeholder="Name/Login" required />
          <br />
          <input type="email" class="acount" placeholder="Email" required />
          <br />
        </form>
        <form>
          <input id="html" type="checkbox" />
          <label for="html">Agree to subscribe to the newsletter</label>
        </form>
        <button>Send</button>
      </li>
      <li><img src="../img/registration.webp" alt="sofa" /></li>
    </ul>
  </div>
</section>
