<section class="registration">
  <div class="container reg-box">
    <ul class="reg-list">
      <li class="reg-item">
        <h2 class="reg-title">Newsletter</h2>
        <p class="reg-text">
          Every week we will send you new designs and information about sales.
        </p>
        <input type="text" class="reg-form" placeholder="Name" required />
        <input type="email" class="reg-form" placeholder="E-mail" required />
        <input class="checkbox" id="html" type="checkbox" />
        <label class="reg-checkbox" for="html"
          >Agree to subscribe to the newsletter</label
        >
        <button class="reg-btn">Send</button>
      </li>
      <li class="reg-item">
        <img class="reg-img" src="./img/registration.webp" alt="sofa" />
      </li>
    </ul>
  </div>
</section>
