<section id="skills" class="skills">
  <div class="container">
    <ul class="skills-list">
      <li class="skills-item">
        <p class="skills-description">About us</p>
        <h2 class="skills-title">
          Our сraftsmanship: сreating unique handmade furniture
        </h2>
        <p class="skills-text">
          Discover the inspiration behind our modern and minimalist designs, and
          see how we bring them to life through our skilled craftsmanship.
        </p>
        <ul class="list-skills">
          <li>
            <h3 class="skills-figure">5+</h3>
            <p class="skills-paragraph">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li>
            <h3 class="skills-figure">100%</h3>
            <p class="skills-paragraph">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li>
            <h3 class="skills-figure">500+</h3>
            <p class="skills-paragraph">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </li>
      <li class="skills-item">
        <img class="skills-photo" src="./img/skills-sofa.webp" alt="" />
      </li>
    </ul>
  </div>
</section>
