.bestsellers {
  padding-top: 100px;
  padding-bottom: 100px;
}
.article-bestsellers {
  margin-left: auto;
  margin-right: auto;
}
.title-bestsellers {
  text-align: center;
  color: #0a224a;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.list-bestsellers {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 24px;
  width: 1096px;
}
.item-bestsellers {
  width: 536px;
}
.photo-bestsellers {
}
.photo-one {
  height: 489px;
}
.text-bestsellers {
  color: #0a224a;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 14px;
}
.price-bestsellers {
  color: #0a224a;
  font-family: Roboto;
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.sublist-bestsellers {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.subitem-bestsellers {
  width: 253px;
}
