.footer {
    background-color: #0A224A;

}

.container {
    width: 1344px;
    border-width: initial;
    border-style: solid;
    border-color: red;
    border-image: initial;
    padding: 0px 12px;
    margin: 0px auto;
}

.list-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.list2-footer {
    display: flex;
}

.list3-footer {
    display: flex;
}

.text-footer {
    color: white;
}

.item-footer {
    display: flex ;
    margin-right: 95px;
}

.img-footer {
    margin-right: 30px;
}

.text-footer {
    margin-right: 30px;
    color: white;
}

.item3-footer {
    margin-top: 20px;
    margin-right: 165px;
}

.end-footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 35px;
    color: grey;
}
