.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #0a224a;
}
.footer-box {
  display: flex;
}
.logo-footer-svg {
  margin-bottom: 39px;
  margin-right: 209px;
}
.fotter-adres {
  color: #fff;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.19px;
  margin-bottom: 24px;
}
.footer-time {
  color: #fff;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.19px;
}
.footer-list {
  display: inline-flex;
  padding: 8px;
  gap: 30px;
  margin-right: 286px;
}
.footer-link {
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tel {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.19px;
}
.footer-fiy-list {
    display: flex;
    gap: 30px;
}
.footer-fiy-item {
}
.footer-terms {
}
.footer-span {
}
