.title-product {
  text-align: center;
}
.list-product {
  display: flex;
  gap: 24px;
}
.photo-product {
  width: 312px;
  height: 300px;
}

.text-product {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0a224a;
  display: flex;
  margin-top: 15px;
}
.product {
  padding-top: 100px;
}
