:root {
  --font-family: 'Roboto', sans-serif;
}

.skills-description::before {
  content: "——";
  margin-right: 20px;
}

.skills-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 141%;
  text-transform: uppercase;
  color: #0a224a;
  border: 1px solid rgba(255, 255, 255, 0);
  width: 650px;
}
.skills-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0a224a;
  border: 1px solid rgba(255, 255, 255, 0);
  width: 650px;
}
.skills-figure {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #0a224a;

}
.skills-paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0a224a;
}


.skills-list {
  display: flex;
}

.skills-photo {
  width: 1320px;
  height: 540px;
}

.list-skills {
  display: flex;
}

.block {
  border: 1px solid rgba(245, 222, 179, 0);
  border-radius: 1px;
  width: 700px;
  background: #F7FAFF;
  margin-right: 23px;

}

.display {
  display: flex;
}